.bg-image1 {
  background-image: url('https://i.ibb.co/wLxJZNw/ft1.png');
  height: 400px;
  width: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.bg-image2 {
  background-image: url('https://i.ibb.co/mtgqPy6/ft2.png');
  height: 400px;
  width: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.bg-image3 {
  background-image: url('https://i.ibb.co/4FTRhqW/blog1.png');
  height: 400px;
  width: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.bg-image4 {
  background-image: url('https://i.ibb.co/jkkx5xX/blog2.png');
  height: 400px;
  width: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media only screen and (max-width: 688px) {
  .home-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .home-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fs {
  text-align: center;
  font-size: 200px;
  font-weight: bolder;
  color: #ffe500;
}

.fast {
  background-image: url('https://i.ibb.co/GMfZSMv/bg2.jpg');
  height: 775px;
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.headline {
  font-family: 'Roboto Serif', sans-serif;
  text-align: left;
  padding-top: 200px;
  font-size: 75px;
  font-weight: 800;
  color: white;
}
.headline2 {
  text-align: left;
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-defult {
  background-image: linear-gradient(orange, tomato);
  color: #e02c6d;
}
.food {
  color: white;
}
.para {
  text-align: left;
  color: darkgrey;
}
.off {
  color: #d8ab37;
}
.last {
  background-image: url('https://i.ibb.co/1qt6pXF/bg1.png');
  height: 775px;
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
